$colorDarkBlue: #020D1C;
$colorLightBlue: #111F32;
$colorLighterBlue: #56F4FF; //#88E1DD;
$colorBlack: #010811;
$colorBG: #1D1E28;
$colorGrey: #141414;
$colorRed: #FF6482;
$colorGreen: #81C784;
$colorOrange: #FBC464;
$colorYellow: #FEE54A;
$colorBeige: #FFF0D3;
$colorWhite: #FFFFFF;